APP_ENV=dev
APP_PORT=8080
JWT_SECRET=dev-secret
JWT_EXPIRES=7200
ADMIN_USER=admin
ADMIN_PASS=admin123

# MySQL (optional; if DB_NAME is set, MySQL will be used)
DB_HOST=mysql.cn-hangzhou.rds.aliyuncs.com
DB_PORT=3306
DB_USER=helixgo_admin
DB_PASS=Helixgo123!
DB_NAME=helixgo
DB_PARAMS=charset=utf8mb4&parseTime=true&loc=Local
